<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">Senthur Tex
            <i class="bi bi-border-width"></i>
        </a>
        <form class="d-flex" role="search">
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Logout"> -->
            <button class="btn btn-success" type="submit">
                <i class='bx bx-user'></i>
                Logout</button>
        </form>
    </div>
</nav>