<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="toggler-btn" type="button">
        <i class='bx bx-menu'></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <!-- Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown">
                    <i class='bx bxs-user-circle'></i>
                    Arun
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/logout">Logout</a></li>
                    <!-- <li><a class="dropdown-item" routerLink="/service2">Service 2</a></li>
                    <li><a class="dropdown-item" routerLink="/service3">Service 3</a></li> -->
                </ul>
            </li>
        </ul>
    </div>
</nav>