<div class="">
    <div class="row">
        <div class="col-3">
            <mat-slide-toggle (change)="onToggle($event)">{{formAction}}</mat-slide-toggle>
        </div>
    </div>
    <br />
    @if (createCombo) {
    <div class="row">
        <div class="col-6">
            <app-master-dynamic-form [config]="getFormConfig()" (formSubmitted)="handleFormSubmit($event)">
            </app-master-dynamic-form>
            <br>
        </div>
    </div>
    <hr>
    }
    <br />
    <div>
        @if(!getIsDataLoading()) {
        <app-dynamic-table [isLoadingResults]="getIsDataLoading()" [columnMap]="columnMap" [data]="getData()"
            (selectionChanged)="handleSelection($event)">
        </app-dynamic-table>
        }
    </div>
    <br>
</div>