<!-- Sidebar -->
<aside id="sidebar" class="sidebar-toggle">
    <div class="sidebar-logo">
        <a href="#">Senthur Tex</a>
    </div>
    <!-- Sidebar Navigation -->
    <ul class="sidebar-nav p-0">
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth"
                aria-expanded="true" aria-controls="auth">
                <i class='bx bxs-briefcase'></i>
                <span>Masters</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a routerLink="/home/brand" class="button sidebar-link">Brand</a>
                </li>
                <li class="sidebar-item">
                    <a routerLink="/home/brand" class="sidebar-link">
                        <!-- <i class="bi bi-whatsapp"></i> -->
                        UOM</a>
                </li>
                <li class="sidebar-item">
                    <a routerLink="/home/brand" class="sidebar-link">HSN</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Navigation Ends -->
    <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Setting</span>
        </a>
    </div>
</aside>
<!-- Sidebar Ends -->